body{

    margin:auto 0;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 115%;
}

.container{
    background-color:white;
    
}

img{
   width: 15%;
   cursor: pointer;
}

p{
    text-align: center;

    font-size:12pt;
}

header{
    color:rgb(238, 59, 128);
    margin:auto 0;
    padding-top:10px;
    padding-bottom:10px;  
    background: linear-gradient(to top, 
    rgba(255,255,255, 0), 
    black 95%);
    font-family: 'Love Ya Like A Sister', cursive;
    
}

header h1 {
    font-size: 175%;
}

#instructions-container{
    margin:0 auto;
    width:70%;
    border-radius: 5%;
    z-index: 2;
    position: fixed;
    background-color:black;
    color:rgb(238, 59, 128);
    opacity: .9;
    left:15%;
    height: 50%;
    overflow: scroll;
    padding-top: 10%;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    font-size:12pt;
   
}

#instructions-container::-webkit-scrollbar { 
    display: none; 
}
#instructions-container p{
    font-size: 80%;
    margin-left:5px;
    margin-right:5px;
    
}